.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 78vh;

  background-image: url('/public/nav-back-ground.JPG');
  opacity: 0.8;
  background-image: url('/public/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsb2ZmaWNlNF9zbm93aW5nX2Jva2VoX2VmZmVjdF9iYWNrZ3JvdW5kX19pbl90aGVfc3R5bGVfb18zODBmMmE4Yi0xZjgzLTQ2YjMtOTM3ZS01YmZlYzY2ZGE1N2EucG5n.webp');
  background-repeat: no-repeat; /* This ensures the background image does not repeat */
  background-size: cover;

  font-family: 'Indie Flower';
  font-weight: 700;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
